### Stacking dataframes on top of one another (similar to vstack):

In [6]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame(np.random.rand(2, 4))
df = pd.concat([df1, df1, df1], ignore_index=True)
df

          0         1         2         3
0  0.527440  0.641283  0.506150  0.489345
1  0.977062  0.589091  0.752786  0.106942
2  0.527440  0.641283  0.506150  0.489345
3  0.977062  0.589091  0.752786  0.106942
4  0.527440  0.641283  0.506150  0.489345
5  0.977062  0.589091  0.752786  0.106942

### Stacking dataframes horizontally (similar to hstack):

In [9]:
pd.concat([df1, df1, df1], ignore_index=True, axis = 1)

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.527440,0.641283,0.506150,0.489345,0.527440,0.641283,0.506150,0.489345,0.527440,0.641283,0.506150,0.489345
1,0.977062,0.589091,0.752786,0.106942,0.977062,0.589091,0.752786,0.106942,0.977062,0.589091,0.752786,0.106942

### Applying function to all columns (or rows) of df:

In [13]:
print df.apply(lambda x: x.sum(), axis = 0)
print df.apply(lambda x: x.sum(), axis = 1)

0    4.513507
1    3.691123
2    3.776808
3    1.788861
dtype: float64
0    2.164219
1    2.425881
2    2.164219
3    2.425881
4    2.164219
5    2.425881
dtype: float64

### Dropping all NaN values:

In [20]:
df.iloc[0, 3] = None
df.iloc[0, 3] = None
#df.dropna()
print df
df.dropna()

          0         1         2         3
0  0.527440  0.641283  0.506150       NaN
1  0.977062  0.589091  0.752786  0.106942
2  0.527440  0.641283  0.506150  0.489345
3  0.977062  0.589091  0.752786  0.106942
4  0.527440  0.641283  0.506150  0.489345
5  0.977062  0.589091  0.752786  0.106942

          0         1         2         3
1  0.977062  0.589091  0.752786  0.106942
2  0.527440  0.641283  0.506150  0.489345
3  0.977062  0.589091  0.752786  0.106942
4  0.527440  0.641283  0.506150  0.489345
5  0.977062  0.589091  0.752786  0.106942

### loc and iloc in pandas:
When we select some rows from a df (e.g., using a where clause), the index of the rows is preserved in the new df. So for the new df, df.index is not necessarily 0, 1, etc. (They dont even have to be numbers). To work with these indexes, use df.loc. To ignore these indexes and use an integer index from zero, use iloc.

In [3]:
f = pd.read_csv('features.csv')

In [6]:
f_holiday = f[f.IsHoliday == True]
f_holiday

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
31,1,2010-09-10,78.69,2.565,NaN,NaN,NaN,NaN,NaN,211.495190,7.787,True
42,1,2010-11-26,64.52,2.735,NaN,NaN,NaN,NaN,NaN,211.748433,7.838,True
47,1,2010-12-31,48.43,2.943,NaN,NaN,NaN,NaN,NaN,211.404932,7.838,True
53,1,2011-02-11,36.39,3.022,NaN,NaN,NaN,NaN,NaN,212.936705,7.742,True
83,1,2011-09-09,76.00,3.546,NaN,NaN,NaN,NaN,NaN,215.861056,7.962,True
94,1,2011-11-25,60.14,3.236,410.31,98.00,55805.51,8.00,554.92,218.467621,7.866,True
99,1,2011-12-30,44.55,3.129,5762.10,46011.38,260.36,983.65,4735.78,219.535990,7.866,True
105,1,2012-02-10,48.02,3.409,13925.06,6927.23,101.64,8471.88,6886.04,220.265178,7.348,True
135,1,2012-09-07,83.96,3.730,5204.68,35.74,50.94,4120.32,2737.17,222.439015,6.908,True
146,1,2012-11-23,56.23,3.211,883.59,4.17,74910.32,209.91,303.32,223.561947,6.573,True
151,1,2012-12-28,44.79,3.108,12659.55,37101.13,174.78,74.46,1208.86,223.960414,6.573,True
157,1,2013-02-08,56.67,3.417,32355.16,729.80,280.89,20426.61,4671.78,224.235029,6.525,True
183,2,2010-02-12,38.49,2.548,NaN,NaN,NaN,NaN,NaN,210.897994,8.324,True
213,2,2010-09-10,79.09,2.565,NaN,NaN,NaN,NaN,NaN,211.153210,8.099,True
224,2,2010-11-26,62.98,2.735,NaN,NaN,NaN,NaN,NaN,211.406287,8.163,True
229,2,2010-12-31,47.30,2.943,NaN,NaN,NaN,NaN,NaN,211.064774,8.163,True
235,2,2011-02-11,33.19,3.022,NaN,NaN,NaN,NaN,NaN,212.592862,8.028,True
265,2,2011-09-09,77.97,3.546,NaN,NaN,NaN,NaN,NaN,215.514829,7.852,True
276,2,2011-11-25,56.36,3.236,919.71,62.00,77451.26,23.00,1589.43,218.113027,7.441,True
281,2,2011-12-30,44.57,3.129,8321.44,92523.94,139.53,1515.40,3027.69,219.177306,7.441,True
287,2,2012-02-10,46.98,3.409,13510.89,6674.42,94.07,14114.90,9577.83,219.904907,7.057,True
317,2,2012-09-07,87.65,3.730,10658.86,149.28,60.97,2920.90,3275.57,222.074763,6.565,True
328,2,2012-11-23,58.06,3.211,2280.54,2.49,105146.30,927.97,1253.85,223.195717,6.170,True
333,2,2012-12-28,41.56,3.108,13194.12,56549.69,377.76,115.89,3479.80,223.593332,6.170,True
339,2,2013-02-08,56.08,3.417,63622.34,687.56,358.29,44824.98,8167.67,223.869385,6.237,True
365,3,2010-02-12,47.93,2.548,NaN,NaN,NaN,NaN,NaN,214.574792,7.368,True
395,3,2010-09-10,80.84,2.565,NaN,NaN,NaN,NaN,NaN,214.806543,7.346,True
406,3,2010-11-26,68.71,2.735,NaN,NaN,NaN,NaN,NaN,215.061402,7.564,True
411,3,2010-12-31,53.20,2.943,NaN,NaN,NaN,NaN,NaN,214.698647,7.564,True
...,...,...,...,...,...,...,...,...,...,...,...,...
7779,43,2012-09-07,84.99,3.730,610.93,NaN,18.29,50.50,516.76,213.799099,9.285,True
7790,43,2012-11-23,59.02,3.211,2.14,NaN,9.24,NaN,163.01,214.862119,8.839,True
7795,43,2012-12-28,46.15,3.108,858.22,965.76,1.94,31.98,693.71,215.253652,8.839,True
7801,43,2013-02-08,54.94,3.417,1952.91,11.49,31.11,276.10,789.82,215.550399,8.934,True
7827,44,2010-02-12,33.16,2.671,NaN,NaN,NaN,NaN,NaN,126.496258,8.119,True
7857,44,2010-09-10,65.74,2.870,NaN,NaN,NaN,NaN,NaN,126.114581,7.804,True
7868,44,2010-11-26,28.22,2.830,NaN,NaN,NaN,NaN,NaN,126.669267,7.610,True
7873,44,2010-12-31,26.79,2.868,NaN,NaN,NaN,NaN,NaN,127.087677,7.610,True
7879,44,2011-02-11,30.83,3.034,NaN,NaN,NaN,NaN,NaN,127.859129,7.224,True
7909,44,2011-09-09,70.19,3.619,NaN,NaN,NaN,NaN,NaN,129.368613,6.560,True
7920,44,2011-11-25,38.89,3.445,NaN,NaN,NaN,NaN,256.45,129.836400,6.078,True
7925,44,2011-12-30,31.53,3.119,409.92,1566.42,NaN,17.64,153.90,130.071032,6.078,True
7931,44,2012-02-10,33.73,3.116,2463.16,11.50,76.33,NaN,1635.49,130.384903,5.774,True
7961,44,2012-09-07,70.65,3.689,282.57,NaN,106.31,NaN,406.52,130.932548,5.407,True
7972,44,2012-11-23,46.21,3.562,8.92,NaN,4.24,NaN,736.13,131.376667,5.217,True
7977,44,2012-12-28,30.07,3.147,1046.82,1821.61,6.69,48.36,265.43,131.747000,5.217,True
7983,44,2013-02-08,26.11,3.192,2044.45,NaN,1.02,NaN,514.27,132.215129,4.983,True
8009,45,2010-02-12,27.73,2.773,NaN,NaN,NaN,NaN,NaN,181.982317,8.992,True
8039,45,2010-09-10,70.87,2.699,NaN,NaN,NaN,NaN,NaN,182.598178,8.743,True
8050,45,2010-11-26,46.15,3.039,NaN,NaN,NaN,NaN,NaN,182.783277,8.724,True
8055,45,2010-12-31,29.67,3.179,NaN,NaN,NaN,NaN,NaN,182.571448,8.724,True
8061,45,2011-02-11,30.30,3.239,NaN,NaN,NaN,NaN,NaN,183.701613,8.549,True
8091,45,2011-09-09,71.48,3.738,NaN,NaN,NaN,NaN,NaN,186.673738,8.625,True
8102,45,2011-11-25,48.71,3.492,140.87,384.82,26961.99,28.59,1110.12,188.350400,8.523,True
8107,45,2011-12-30,37.79,3.389,3604.35,43941.56,287.45,357.43,750.01,189.062016,8.523,True
8113,45,2012-02-10,37.00,3.640,15760.30,6113.95,5.43,5656.35,4685.58,189.707605,8.424,True
8143,45,2012-09-07,75.70,3.911,11024.45,12.80,52.63,1854.77,2055.70,191.577676,8.684,True
8154,45,2012-11-23,43.08,3.748,1005.79,NaN,72542.01,484.70,620.12,192.283032,8.667,True
8159,45,2012-12-28,35.96,3.563,12751.77,24656.74,230.07,31.46,1654.14,192.559264,8.667,True
8165,45,2013-02-08,28.99,3.753,53311.88,531.33,78.26,24823.94,3233.44,192.897089,8.625,True

In [8]:
f_holiday.iloc[0, :]

Store                    1
Date            2010-02-12
Temperature          38.51
Fuel_Price           2.548
MarkDown1              NaN
MarkDown2              NaN
MarkDown3              NaN
MarkDown4              NaN
MarkDown5              NaN
CPI                211.242
Unemployment         8.106
IsHoliday             True
Name: 1, dtype: object

In [9]:
f_holiday.loc[0, :]

KeyError: 'the label [0] is not in the [index]'