### Stacking dataframes on top of one another (similar to vstack):

In [6]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame(np.random.rand(2, 4))
df = pd.concat([df1, df1, df1], ignore_index=True)
df

          0         1         2         3
0  0.527440  0.641283  0.506150  0.489345
1  0.977062  0.589091  0.752786  0.106942
2  0.527440  0.641283  0.506150  0.489345
3  0.977062  0.589091  0.752786  0.106942
4  0.527440  0.641283  0.506150  0.489345
5  0.977062  0.589091  0.752786  0.106942

### Stacking dataframes horizontally (similar to hstack):

In [9]:
pd.concat([df1, df1, df1], ignore_index=True, axis = 1)

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.527440,0.641283,0.506150,0.489345,0.527440,0.641283,0.506150,0.489345,0.527440,0.641283,0.506150,0.489345
1,0.977062,0.589091,0.752786,0.106942,0.977062,0.589091,0.752786,0.106942,0.977062,0.589091,0.752786,0.106942

### Applying function to all columns (or rows) of df:

In [13]:
print df.apply(lambda x: x.sum(), axis = 0)
print df.apply(lambda x: x.sum(), axis = 1)

0    4.513507
1    3.691123
2    3.776808
3    1.788861
dtype: float64
0    2.164219
1    2.425881
2    2.164219
3    2.425881
4    2.164219
5    2.425881
dtype: float64

### Dropping all NaN values:

In [20]:
df.iloc[0, 3] = None
df.iloc[0, 3] = None
#df.dropna()
print df
df.dropna()

          0         1         2         3
0  0.527440  0.641283  0.506150       NaN
1  0.977062  0.589091  0.752786  0.106942
2  0.527440  0.641283  0.506150  0.489345
3  0.977062  0.589091  0.752786  0.106942
4  0.527440  0.641283  0.506150  0.489345
5  0.977062  0.589091  0.752786  0.106942

          0         1         2         3
1  0.977062  0.589091  0.752786  0.106942
2  0.527440  0.641283  0.506150  0.489345
3  0.977062  0.589091  0.752786  0.106942
4  0.527440  0.641283  0.506150  0.489345
5  0.977062  0.589091  0.752786  0.106942