In [2]:
!head -10 ml-100k/u.data

196	242	3	881250949
186	302	3	891717742
22	377	1	878887116
244	51	2	880606923
166	346	1	886397596
298	474	4	884182806
115	265	2	881171488
253	465	5	891628467
305	451	3	886324817
6	86	3	883603013

In [3]:
import pandas as pd
#ratings = pd.read_csv('ml-1m/ratings.dat', delimiter="::", engine="python", header=None)
ratings = pd.read_csv('ml-100k/u.data', delimiter="\t", engine="python", header=None)

In [4]:
ratings.columns = ["UserID::MovieID::Rating::Timestamp".split("::")]
#ratings = ratings.iloc[:1000, :]
ratings.head()

   UserID  MovieID  Rating  Timestamp
0     196      242       3  881250949
1     186      302       3  891717742
2      22      377       1  878887116
3     244       51       2  880606923
4     166      346       1  886397596

In [5]:
ratings.isnull().sum()

UserID       0
MovieID      0
Rating       0
Timestamp    0
dtype: int64

In [6]:
import numpy as np
np.unique(ratings['Rating'])

array([1, 2, 3, 4, 5])

* Do we have any duplicate ratings, i.e., a (userid, movieid) combination that is repeated more than once?

In [7]:
user_movie_pairs = zip(ratings['UserID'].values, ratings['MovieID'].values)

In [8]:
print len(user_movie_pairs), len(set(user_movie_pairs))

100000 100000

In [9]:
print ratings['UserID'].describe()
n_user = len(ratings['UserID'].unique())
print "number of users: %s\n" % n_user
print set(ratings['UserID'].unique()) == set(range(1, n_user + 1))
# User ids are range(1, 6041), i.e., are all values between 1 and 6040
# We can use a simple mapping: user_index=UserID-1

count    100000.00000
mean        462.48475
std         266.61442
min           1.00000
25%         254.00000
50%         447.00000
75%         682.00000
max         943.00000
Name: UserID, dtype: float64
number of users: 943

True

In [10]:
!cat ml-100k/u.info

943 users
1682 items
100000 ratings

In [11]:
#!head ml-1m/movies.dat
!head ml-100k/u.item

1|Toy Story (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)|0|0|0|1|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0
2|GoldenEye (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?GoldenEye%20(1995)|0|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0
3|Four Rooms (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0
4|Get Shorty (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995)|0|1|0|0|0|1|0|0|1|0|0|0|0|0|0|0|0|0|0
5|Copycat (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Copycat%20(1995)|0|0|0|0|0|0|1|0|1|0|0|0|0|0|0|0|1|0|0
6|Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)|01-Jan-1995||http://us.imdb.com/Title?Yao+a+yao+yao+dao+waipo+qiao+(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0
7|Twelve Monkeys (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Twelve%20Monkeys%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|1|0|0|0
8|Babe (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Babe%20(1995)|0|0|0|0|1|1|0|0|1|0|0|0|0|0|0|0|0|0|0
9|Dead Man Walking (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Dead%20Man%20Walking%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0
10|Richard III (1995)|22-Jan-1996||http://us.imdb.com/M/title-exact?Richard%20III%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|1|0

In [12]:
#movies = pd.read_csv('ml-1m/movies.dat', delimiter='::', engine='python', header=None)
movies = pd.read_csv('ml-100k/u.item', delimiter='|', engine='python', header=None)
#movies.columns = 'MovieID::Title::Genres'.split('::')
columns = ' MovieID | movie title | release date | video release date |' \
              'IMDb URL | unknown | Action | Adventure | Animation |'\
              'Children | Comedy | Crime | Documentary | Drama | Fantasy |'\
              'Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi |'\
              'Thriller | War | Western'.split('|')

movies.columns = ["-".join(i.strip().split()) for i in columns]                
movies.head()

print "The following movie id's are missing from movie table"
print sorted(set(range(1, movies.MovieID.max())) - set(movies.MovieID))
print "\nnumber of unique movies: %s\n" %  len(set(movies.MovieID))

mi = ratings['MovieID'].unique()
mi.sort()
print sorted(set(movies.MovieID) - set(mi))
print len(mi)
# movie id have some missing values in addition to the missing values above
# , i.e., there are movies that are not rated by any user.

#movie_index_to_ID = dict(zip(range(movies.MovieID.unique().shape[0]), movies.MovieID))
movie_index_to_ID = dict(zip(range(len(mi)), mi))
#movie_ID_to_index = dict(zip(movies.MovieID, range(movies.MovieID.unique().shape[0])))
movie_ID_to_index = {k: v for v, k in movie_index_to_ID.iteritems()}

The following movie id's are missing from movie table
[]

number of unique movies: 1682

[]
1682

In [13]:
pp_sim.shape

NameError: name 'pp_sim' is not defined

In [14]:
len(movies.MovieID) == len(movies.MovieID.unique())

True

In [15]:
from scipy.sparse import csr_matrix
row = ratings['MovieID'].values
col = ratings['UserID'].values
data = ratings['Rating'].values
ratings_matrix = csr_matrix((data, (row, col)))

In [16]:
ratings_matrix.shape

(1683, 944)

In [17]:
def trace_dot(X, Y):
    """Trace of np.dot(X, Y.T)."""
    return np.dot(X.ravel(), Y.ravel())
norm_X = np.dot(X.data, X.data)
norm_WH = trace_dot(np.dot(np.dot(W.T, W), H), H)
cross_prod = trace_dot((X * H.T), W)
error = np.sqrt(norm_X + norm_WH - 2. * cross_prod)

NameError: name 'X' is not defined

In [18]:
error/X.shape[0]/X.shape[1]

NameError: name 'error' is not defined

In [19]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

sc = spark.sparkContext
sc.setLogLevel("WARN")

In [20]:
from pyspark.sql.functions import rand

def kfold_cv_generator(dataset, n_folds=3, seed = None):
    if not seed:
        seed = 0
    h = 1.0 / n_folds
    randCol = "cv_rand"
    df = dataset.select("*", rand(seed).alias(randCol)).cache()
    for i in range(n_folds):
        validateLB = i * h
        validateUB = (i + 1) * h
        condition = (df[randCol] >= validateLB) & (df[randCol] < validateUB)
        validation = df.filter(condition)
        train = df.filter(~condition)
        yield train.drop(randCol), validation.drop(randCol)

In [21]:
#ratings_sp = spark.createDataFrame(ratings)

In [22]:
ratings.columns

Index([u'UserID', u'MovieID', u'Rating', u'Timestamp'], dtype='object')

In [23]:
import os
#TODO: Should use broadcast for movie_ID_to_index?
def parse_data(line):
    fields = line.split("\t")
    user_id = int(fields[0])
    movie_id = int(fields[1])
    rating = float(fields[2])
    ts = fields[3]
    return movie_ID_to_index_bc.value[movie_id], user_id - 1, rating, ts
    
movie_ID_to_index_bc = sc.broadcast(movie_ID_to_index)
#u_data_file = os.path.join("ml-1m", "ratings.dat")
u_data_file = os.path.join("ml-100k", "u.data")
ratings_rdd = sc.textFile(u_data_file).map(parse_data)#.cache().filter(lambda x: x is not None)

In [24]:
x = ratings_rdd.collect()
pd.DataFrame(x).describe()

                   0             1              2
count  100000.000000  100000.00000  100000.000000
mean      424.530130     461.48475       3.529860
std       330.798356     266.61442       1.125674
min         0.000000       0.00000       1.000000
25%       174.000000     253.00000       3.000000
50%       321.000000     446.00000       4.000000
75%       630.000000     681.00000       4.000000
max      1681.000000     942.00000       5.000000

number of unique movies: 3883
number of users: 6040

In [25]:
ratings_sp.select(['UserID', 'MovieID', 'Rating'])

NameError: name 'ratings_sp' is not defined

In [26]:
ratings_columns = "UserID::MovieID::Rating::Timestamp".split("::")
ratings_sp = spark.createDataFrame(ratings_rdd, schema=ratings_columns)
ratings_sp.columns

['UserID', 'MovieID', 'Rating', 'Timestamp']

In [89]:
#param_map = {'rank': [1, 2, 4, 10, 20], 'lambda_': np.linspace(-3, 3, 5)}
param_map = {'a':[1, 6], 'b': [2.2, 2.5, 2.7], 'c':[3.1, 3.2, 3.3, 3.5]}

param_map.items()
value_grid = np.meshgrid(*param_map.values(), indexing='xy')
index_grid = np.meshgrid(*[range(len(i)) for i in param_map.values()], indexing='ij')
index_grids = []
for a in index_grid:
    index_grids.append(a.reshape(-1, ))

value_grids = []
for a in value_grid:
    value_grids.append(a.reshape(-1, ))

#index_grids = np.vstack(index_grids).T 
#value_grids = np.vstack(value_grids).T
print value_grids
zip(*value_grids)

[array([1, 1, 1, 6, 6, 6, 1, 1, 1, 6, 6, 6, 1, 1, 1, 6, 6, 6, 1, 1, 1, 6, 6,
       6]), array([ 3.1,  3.1,  3.1,  3.1,  3.1,  3.1,  3.2,  3.2,  3.2,  3.2,  3.2,
        3.2,  3.3,  3.3,  3.3,  3.3,  3.3,  3.3,  3.5,  3.5,  3.5,  3.5,
        3.5,  3.5]), array([ 2.2,  2.5,  2.7,  2.2,  2.5,  2.7,  2.2,  2.5,  2.7,  2.2,  2.5,
        2.7,  2.2,  2.5,  2.7,  2.2,  2.5,  2.7,  2.2,  2.5,  2.7,  2.2,
        2.5,  2.7])]

[(1, 3.1000000000000001, 2.2000000000000002),
 (1, 3.1000000000000001, 2.5),
 (1, 3.1000000000000001, 2.7000000000000002),
 (6, 3.1000000000000001, 2.2000000000000002),
 (6, 3.1000000000000001, 2.5),
 (6, 3.1000000000000001, 2.7000000000000002),
 (1, 3.2000000000000002, 2.2000000000000002),
 (1, 3.2000000000000002, 2.5),
 (1, 3.2000000000000002, 2.7000000000000002),
 (6, 3.2000000000000002, 2.2000000000000002),
 (6, 3.2000000000000002, 2.5),
 (6, 3.2000000000000002, 2.7000000000000002),
 (1, 3.2999999999999998, 2.2000000000000002),
 (1, 3.2999999999999998, 2.5),
 (1, 3.2999999999999998, 2.7000000000000002),
 (6, 3.2999999999999998, 2.2000000000000002),
 (6, 3.2999999999999998, 2.5),
 (6, 3.2999999999999998, 2.7000000000000002),
 (1, 3.5, 2.2000000000000002),
 (1, 3.5, 2.5),
 (1, 3.5, 2.7000000000000002),
 (6, 3.5, 2.2000000000000002),
 (6, 3.5, 2.5),
 (6, 3.5, 2.7000000000000002)]

In [148]:
value_grid

[array([[  1.00000000e-03,   3.16227766e-02,   1.00000000e+00,
           3.16227766e+01,   1.00000000e+03],
        [  1.00000000e-03,   3.16227766e-02,   1.00000000e+00,
           3.16227766e+01,   1.00000000e+03],
        [  1.00000000e-03,   3.16227766e-02,   1.00000000e+00,
           3.16227766e+01,   1.00000000e+03],
        [  1.00000000e-03,   3.16227766e-02,   1.00000000e+00,
           3.16227766e+01,   1.00000000e+03],
        [  1.00000000e-03,   3.16227766e-02,   1.00000000e+00,
           3.16227766e+01,   1.00000000e+03]]), array([[ 1,  1,  1,  1,  1],
        [ 2,  2,  2,  2,  2],
        [ 4,  4,  4,  4,  4],
        [10, 10, 10, 10, 10],
        [20, 20, 20, 20, 20]])]

In [159]:
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
from matplotlib import cm
from matplotlib.ticker import LinearLocator, FormatStrFormatter
import numpy as np


fig = plt.figure()
ax = fig.gca(projection='3d')

# Make data.

# Plot the surface.
args = list(value_grid)
args.append(MSE_grid_)
surf = ax.plot_surface(*args, cmap=cm.coolwarm,
                       linewidth=0, antialiased=False)

# Customize the z axis.
#ax.set_zlim(-1.01, 1.01)
#ax.zaxis.set_major_locator(LinearLocator(10))
#ax.zaxis.set_major_formatter(FormatStrFormatter('%.02f'))
ax.set_xlabel('x')
ax.set_ylabel('y')
#ax.set_xscale('log')

# Add a color bar which maps values to colors.
#fig.colorbar(surf, shrink=0.5, aspect=5)

plt.show()

In [111]:
MSE_grid_

array([[ 0.94931574,  0.95086059,  1.37509381,  3.70666256,  3.70666256],
       [ 0.9701203 ,  0.93727665,  1.37509371,  3.70666256,  3.70666256],
       [ 1.07397648,  0.96540934,  1.37509363,  3.70666256,  3.70666256],
       [ 1.42892786,  1.02818472,  1.37509395,  3.70666256,  3.70666256],
       [ 1.61278906,  1.06256944,  1.37509377,  3.70666256,  3.70666256]])

In [ ]:
MSE_grid_ = np.reshape(MSE_grid, value_grid[0].shape)


from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
from matplotlib import cm
from matplotlib.ticker import LinearLocator, FormatStrFormatter
import numpy as np


fig = plt.figure()
ax = fig.gca(projection='3d')

# Make data.

# Plot the surface.
args = list(value_grid)
args.append(MSE_grid_)
surf = ax.plot_surface(*args, cmap=cm.coolwarm,
                       linewidth=0, antialiased=False)
ax.set_xlabel('x')
ax.set_ylabel('y')
#ax.set_xscale('log')

# Add a color bar which maps values to colors.
#fig.colorbar(surf, shrink=0.5, aspect=5)

plt.show()

In [160]:
import numpy as np
import os
from pyspark.mllib.recommendation import ALS, MatrixFactorizationModel, Rating

param_map = {'rank': [1, 2, 4, 5, 10, 20], 'lambda_': np.logspace(-3, 1.5, 10)}

value_grid = np.meshgrid(*param_map.values(), indexing='xy')
index_grid = np.meshgrid(*[range(len(i)) for i in param_map.values()], indexing='ij')
index_grids = []
for a in index_grid:
    index_grids.append(a.reshape(-1, ))

value_grids = []
for a in value_grid:
    value_grids.append(a.reshape(-1, ))

#index_grids = np.vstack(index_grids).T 
#value_grids = np.vstack(value_grids).T
index_grids = zip(*index_grids) 
value_grids = zip(*value_grids)

n_folds = 3
MSE_grid = np.zeros(len(value_grids))
for i, vg in enumerate(value_grids):
    kwargs = dict(zip(param_map.keys(), vg))
    MSE = np.zeros(n_folds)
    for j, (ratings_train, ratings_test) in enumerate(kfold_cv_generator(ratings_sp, n_folds)):
        
        print kwargs
        model = ALS.train(ratings_train.select(['UserID', 'MovieID', 'Rating']), iterations = 10, **kwargs)

        test_data = ratings_test.rdd.map(lambda r: (r[0], r[1]))
        predictions = model.predictAll(test_data).map(lambda r: ((r[0], r[1]), r[2]))
        p = predictions.collect()
        ratesAndPreds = ratings_test.rdd.map(lambda r: ((r[0], r[1]), r[2])).join(predictions)
        MSE[j] = (ratesAndPreds.map(lambda r: (r[1][0] - r[1][1])**2).mean())**.5

        print("Mean Squared Error = " + str(MSE))
    MSE_grid[i] = np.mean(MSE)
    print(" MSE grid= " + str(MSE_grid))
    
best_params_index = np.argmin(MSE_grid)
best_params = dict(zip(param_map.keys(), value_grids[best_params_index]))
MSE_grid_ = np.reshape(MSE_grid, value_grid[0].shape)


from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
from matplotlib import cm
from matplotlib.ticker import LinearLocator, FormatStrFormatter
import numpy as np


fig = plt.figure()
ax = fig.gca(projection='3d')

# Make data.

# Plot the surface.
args = list(value_grid)
args.append(MSE_grid_)
surf = ax.plot_surface(*args, cmap=cm.coolwarm,
                       linewidth=0, antialiased=False)
ax.set_xlabel('x')
ax.set_ylabel('y')
#ax.set_xscale('log')

# Add a color bar which maps values to colors.
#fig.colorbar(surf, shrink=0.5, aspect=5)

plt.show()

{'lambda_': 0.001, 'rank': 1}
Mean Squared Error = [ 0.95699108  0.          0.        ]
{'lambda_': 0.001, 'rank': 1}
Mean Squared Error = [ 0.95699108  0.94576478  0.        ]
{'lambda_': 0.001, 'rank': 1}
Mean Squared Error = [ 0.95699108  0.94576478  0.94519205]
 MSE grid= [ 0.94931597  0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.        ]
{'lambda_': 0.0031622776601683794, 'rank': 1}
Mean Squared Error = [ 0.95685972  0.          0.        ]
{'lambda_': 0.0031622776601683794, 'rank': 1}
Mean Squared Error = [ 0.95685972  0.94584165  0.        ]
{'lambda_': 0.0031622776601683794, 'rank': 1}
Mean Squared Error = [ 0.95685972  0.94584165  0.94523875]
 MSE grid= [ 0.94931597  0.94931337  0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.        ]
{'lambda_': 0.01, 'rank': 1}
Mean Squared Error = [ 0.95673478  0.          0.        ]
{'lambda_': 0.01, 'rank': 1}
Mean Squared Error = [ 0.95673478  0.94652599  0.        ]
{'lambda_': 0.01, 'rank': 1}
Mean Squared Error = [ 0.95673478  0.94652599  0.94572218]
 MSE grid= [ 0.94931597  0.94931337  0.94966099  0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.        ]
{'lambda_': 0.031622776601683791, 'rank': 1}
Mean Squared Error = [ 0.95909691  0.          0.        ]
{'lambda_': 0.031622776601683791, 'rank': 1}
Mean Squared Error = [ 0.95909691  0.9472942   0.        ]
{'lambda_': 0.031622776601683791, 'rank': 1}
Mean Squared Error = [ 0.95909691  0.9472942   0.94728502]
 MSE grid= [ 0.94931597  0.94931337  0.94966099  0.95122537  0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.        ]
{'lambda_': 0.10000000000000001, 'rank': 1}
Mean Squared Error = [ 0.9610794  0.         0.       ]
{'lambda_': 0.10000000000000001, 'rank': 1}
Mean Squared Error = [ 0.9610794  0.9525421  0.       ]
{'lambda_': 0.10000000000000001, 'rank': 1}
Mean Squared Error = [ 0.9610794   0.9525421   0.95272274]
 MSE grid= [ 0.94931597  0.94931337  0.94966099  0.95122537  0.95544808  0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.        ]
{'lambda_': 0.31622776601683794, 'rank': 1}
Mean Squared Error = [ 0.99962895  0.          0.        ]
{'lambda_': 0.31622776601683794, 'rank': 1}
Mean Squared Error = [ 0.99962895  0.99545181  0.        ]
{'lambda_': 0.31622776601683794, 'rank': 1}
Mean Squared Error = [ 0.99962895  0.99545181  0.99525568]
 MSE grid= [ 0.94931597  0.94931337  0.94966099  0.95122537  0.95544808  0.99677881
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.        ]
{'lambda_': 1.0, 'rank': 1}
Mean Squared Error = [ 1.37004033  0.          0.        ]
{'lambda_': 1.0, 'rank': 1}
Mean Squared Error = [ 1.37004033  1.37850456  0.        ]
{'lambda_': 1.0, 'rank': 1}
Mean Squared Error = [ 1.37004033  1.37850456  1.37673502]
 MSE grid= [ 0.94931597  0.94931337  0.94966099  0.95122537  0.95544808  0.99677881
  1.3750933   0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.        ]
{'lambda_': 3.1622776601683795, 'rank': 1}
Mean Squared Error = [ 3.50823272  0.          0.        ]
{'lambda_': 3.1622776601683795, 'rank': 1}
Mean Squared Error = [ 3.50823272  3.39256751  0.        ]
{'lambda_': 3.1622776601683795, 'rank': 1}
Mean Squared Error = [ 3.50823272  3.39256751  3.52195938]
 MSE grid= [ 0.94931597  0.94931337  0.94966099  0.95122537  0.95544808  0.99677881
  1.3750933   3.4742532   0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.        ]
{'lambda_': 10.0, 'rank': 1}
Mean Squared Error = [ 3.70363873  0.          0.        ]
{'lambda_': 10.0, 'rank': 1}
Mean Squared Error = [ 3.70363873  3.7098984   0.        ]
{'lambda_': 10.0, 'rank': 1}
Mean Squared Error = [ 3.70363873  3.7098984   3.70645054]
 MSE grid= [ 0.94931597  0.94931337  0.94966099  0.95122537  0.95544808  0.99677881
  1.3750933   3.4742532   3.70666256  0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.        ]
{'lambda_': 31.622776601683793, 'rank': 1}
Mean Squared Error = [ 3.70363873  0.          0.        ]
{'lambda_': 31.622776601683793, 'rank': 1}
Mean Squared Error = [ 3.70363873  3.7098984   0.        ]
{'lambda_': 31.622776601683793, 'rank': 1}
Mean Squared Error = [ 3.70363873  3.7098984   3.70645054]
 MSE grid= [ 0.94931597  0.94931337  0.94966099  0.95122537  0.95544808  0.99677881
  1.3750933   3.4742532   3.70666256  3.70666256  0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.        ]
{'lambda_': 0.001, 'rank': 2}
Mean Squared Error = [ 0.98293965  0.          0.        ]
{'lambda_': 0.001, 'rank': 2}
Mean Squared Error = [ 0.98293965  0.98158412  0.        ]
{'lambda_': 0.001, 'rank': 2}
Mean Squared Error = [ 0.98293965  0.98158412  0.98228237]
 MSE grid= [ 0.94931597  0.94931337  0.94966099  0.95122537  0.95544808  0.99677881
  1.3750933   3.4742532   3.70666256  3.70666256  0.98226871  0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.        ]
{'lambda_': 0.0031622776601683794, 'rank': 2}
Mean Squared Error = [ 0.96911507  0.          0.        ]
{'lambda_': 0.0031622776601683794, 'rank': 2}
Mean Squared Error = [ 0.96911507  0.9490494   0.        ]
{'lambda_': 0.0031622776601683794, 'rank': 2}
Mean Squared Error = [ 0.96911507  0.9490494   0.96464354]
 MSE grid= [ 0.94931597  0.94931337  0.94966099  0.95122537  0.95544808  0.99677881
  1.3750933   3.4742532   3.70666256  3.70666256  0.98226871  0.960936    0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.        ]
{'lambda_': 0.01, 'rank': 2}
Mean Squared Error = [ 0.95286709  0.          0.        ]
{'lambda_': 0.01, 'rank': 2}
Mean Squared Error = [ 0.95286709  0.95480513  0.        ]
{'lambda_': 0.01, 'rank': 2}
Mean Squared Error = [ 0.95286709  0.95480513  0.93988383]
 MSE grid= [ 0.94931597  0.94931337  0.94966099  0.95122537  0.95544808  0.99677881
  1.3750933   3.4742532   3.70666256  3.70666256  0.98226871  0.960936
  0.94918535  0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.        ]
{'lambda_': 0.031622776601683791, 'rank': 2}
Mean Squared Error = [ 0.94762442  0.          0.        ]
{'lambda_': 0.031622776601683791, 'rank': 2}
Mean Squared Error = [ 0.94762442  0.93171769  0.        ]
{'lambda_': 0.031622776601683791, 'rank': 2}
Mean Squared Error = [ 0.94762442  0.93171769  0.93225805]
 MSE grid= [ 0.94931597  0.94931337  0.94966099  0.95122537  0.95544808  0.99677881
  1.3750933   3.4742532   3.70666256  3.70666256  0.98226871  0.960936
  0.94918535  0.93720005  0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.        ]
{'lambda_': 0.10000000000000001, 'rank': 2}
Mean Squared Error = [ 0.9392815  0.         0.       ]
{'lambda_': 0.10000000000000001, 'rank': 2}
Mean Squared Error = [ 0.9392815   0.93312233  0.        ]
{'lambda_': 0.10000000000000001, 'rank': 2}
Mean Squared Error = [ 0.9392815   0.93312233  0.93428163]
 MSE grid= [ 0.94931597  0.94931337  0.94966099  0.95122537  0.95544808  0.99677881
  1.3750933   3.4742532   3.70666256  3.70666256  0.98226871  0.960936
  0.94918535  0.93720005  0.93556182  0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.        ]
{'lambda_': 0.31622776601683794, 'rank': 2}
Mean Squared Error = [ 0.99090651  0.          0.        ]
{'lambda_': 0.31622776601683794, 'rank': 2}
Mean Squared Error = [ 0.99090651  0.99217053  0.        ]
{'lambda_': 0.31622776601683794, 'rank': 2}
Mean Squared Error = [ 0.99090651  0.99217053  0.98716239]
 MSE grid= [ 0.94931597  0.94931337  0.94966099  0.95122537  0.95544808  0.99677881
  1.3750933   3.4742532   3.70666256  3.70666256  0.98226871  0.960936
  0.94918535  0.93720005  0.93556182  0.99007981  0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.        ]
{'lambda_': 1.0, 'rank': 2}
Mean Squared Error = [ 1.37004188  0.          0.        ]
{'lambda_': 1.0, 'rank': 2}
Mean Squared Error = [ 1.37004188  1.37850299  0.        ]
{'lambda_': 1.0, 'rank': 2}
Mean Squared Error = [ 1.37004188  1.37850299  1.37673516]
 MSE grid= [ 0.94931597  0.94931337  0.94966099  0.95122537  0.95544808  0.99677881
  1.3750933   3.4742532   3.70666256  3.70666256  0.98226871  0.960936
  0.94918535  0.93720005  0.93556182  0.99007981  1.37509334  0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.        ]
{'lambda_': 3.1622776601683795, 'rank': 2}
Mean Squared Error = [ 3.50846368  0.          0.        ]
{'lambda_': 3.1622776601683795, 'rank': 2}
Mean Squared Error = [ 3.50846368  3.68736317  0.        ]
{'lambda_': 3.1622776601683795, 'rank': 2}
Mean Squared Error = [ 3.50846368  3.68736317  3.67324839]
 MSE grid= [ 0.94931597  0.94931337  0.94966099  0.95122537  0.95544808  0.99677881
  1.3750933   3.4742532   3.70666256  3.70666256  0.98226871  0.960936
  0.94918535  0.93720005  0.93556182  0.99007981  1.37509334  3.62302508
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.        ]
{'lambda_': 10.0, 'rank': 2}
Mean Squared Error = [ 3.70363873  0.          0.        ]
{'lambda_': 10.0, 'rank': 2}
Mean Squared Error = [ 3.70363873  3.7098984   0.        ]
{'lambda_': 10.0, 'rank': 2}
Mean Squared Error = [ 3.70363873  3.7098984   3.70645054]
 MSE grid= [ 0.94931597  0.94931337  0.94966099  0.95122537  0.95544808  0.99677881
  1.3750933   3.4742532   3.70666256  3.70666256  0.98226871  0.960936
  0.94918535  0.93720005  0.93556182  0.99007981  1.37509334  3.62302508
  3.70666256  0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.        ]
{'lambda_': 31.622776601683793, 'rank': 2}
Mean Squared Error = [ 3.70363873  0.          0.        ]
{'lambda_': 31.622776601683793, 'rank': 2}
Mean Squared Error = [ 3.70363873  3.7098984   0.        ]
{'lambda_': 31.622776601683793, 'rank': 2}
Mean Squared Error = [ 3.70363873  3.7098984   3.70645054]
 MSE grid= [ 0.94931597  0.94931337  0.94966099  0.95122537  0.95544808  0.99677881
  1.3750933   3.4742532   3.70666256  3.70666256  0.98226871  0.960936
  0.94918535  0.93720005  0.93556182  0.99007981  1.37509334  3.62302508
  3.70666256  3.70666256  0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.          0.        ]
{'lambda_': 0.001, 'rank': 4}
Mean Squared Error = [ 1.18443835  0.          0.        ]
{'lambda_': 0.001, 'rank': 4}
Mean Squared Error = [ 1.18443835  1.09244404  0.        ]
{'lambda_': 0.001, 'rank': 4}
Mean Squared Error = [ 1.18443835  1.09244404  1.09208717]
 MSE grid= [ 0.94931597  0.94931337  0.94966099  0.95122537  0.95544808  0.99677881
  1.3750933   3.4742532   3.70666256  3.70666256  0.98226871  0.960936

TypeError: only length-1 arrays can be converted to Python scalars

In [100]:
best_params = dict(zip(param_map.keys(), value_grids[best_params_index]))
best_params

{'lambda_': 0.031622776601683791, 'rank': 2}

In [97]:
value_grids[best_params_index]
param_map.keys()

['lambda_', 'rank']

In [ ]:
param_map = {'rank': [1, 2, 4, 10, 20], 'lambda_': np.linspace(-3, 3, 5)}

def find_best_params(data_set, n_folds, param_map):

In [36]:
import numpy as np
import os
from pyspark.mllib.recommendation import ALS, MatrixFactorizationModel, Rating

#u_data_file = os.path.join("ml-1m", "ratings.dat")
#ratings = sc.textFile(u_data_file).map(parse_data).cache()#.filter(lambda x: x is not None)

#ratings_train = ratings.filter(lambda x: x[3] < 8).map(lambda x: x[:-1])
#ratings_test = ratings.filter(lambda x: x[3] >= 8).map(lambda x: x[:-1])

#print("number of train points: %d" % ratings_train.count())
#print("number of test points: %d" % ratings_test.count())

n_folds = 10
MSE = np.zeros(n_folds)
for i, (ratings_train, ratings_test) in enumerate(kfold_cv_generator(ratings_sp, n_folds)):
    
    print ratings_train.count()
    # TODO: Remove timestamp column from the begining
    model = ALS.train(ratings_train.select(['UserID', 'MovieID', 'Rating']),rank = 10, lambda_ = .2, iterations = 10)

    test_data = ratings_test.rdd.map(lambda r: (r[0], r[1]))
    predictions = model.predictAll(test_data).map(lambda r: ((r[0], r[1]), r[2]))
    p = predictions.collect()
    ratesAndPreds = ratings_test.rdd.map(lambda r: ((r[0], r[1]), r[2])).join(predictions)
    MSE[i] = (ratesAndPreds.map(lambda r: (r[1][0] - r[1][1])**2).mean())**.5

    print("Mean Squared Error = " + str(MSE))

89918
Mean Squared Error = [ 0.94863231  0.          0.          0.          0.          0.          0.
  0.          0.          0.        ]
90035
Mean Squared Error = [ 0.94863231  0.93820052  0.          0.          0.          0.          0.
  0.          0.          0.        ]
90011
Mean Squared Error = [ 0.94863231  0.93820052  0.94313064  0.          0.          0.          0.
  0.          0.          0.        ]
89995

KeyboardInterrupt:

In [34]:
model = ALS.train(ratings_sp.select(['UserID', 'MovieID', 'Rating']), rank = 10, iterations = 20)

In [35]:
pf = model.productFeatures()
pf_coordinate = pf.map(lambda r: (r[0],  zip(range(len(r[1])), r[1]))).map(lambda r: r[0])

In [36]:
uf = model.userFeatures().collect()

In [37]:
from matplotlib import pyplot as plt

In [38]:
movie_index_list = [i[1] for i in model.recommendProducts(0, 10)]
[movie_index for movie_index_to_ID[movie_index]

SyntaxError: invalid syntax (<ipython-input-38-79f290f9d2d1>, line 2)

### Row-style to coordinate conversion:

In [39]:
"""
m = [
(0, (v00, v01, v02))
(2, (v20, v21, v22))
(5, (v50, v51, v52))
]

=>

[
(0, [(0, v00), (1, v01), (2, v02)])
(2, [(0, v20), (1, v21), (2, v22)])
(5, [(0, v50), (1, v51), (2, v52)])
]

=>

[
(0, 0, v00), (0, 1, v01), (0, 2, v02), 
(2, 0, v20), (2, 1, v21), (2, 2, v22), 

]
"""
def row_style_to_coordinate(m):
    x = m.map(lambda r: (r[0], zip(range(len(r[1])), r[1])))
    return x.flatMap(lambda r: [(r[0], i[0], i[1]) for i in r[1]])

In [40]:
def coordinate_to_sparse(m):
    row, col, data = np.array(m).T
    return csr_matrix((data, (row, col)))

In [41]:
pf_rdd = model.productFeatures()
uf_rdd = model.userFeatures()
user_features = row_style_to_coordinate(pf_rdd)
product_features = row_style_to_coordinate(uf_rdd)
print coordinate_to_sparse(user_features.collect()).todense().shape
print coordinate_to_sparse(product_features.collect()).todense().shape

(943, 10)
(1682, 10)

In [42]:
pf_sparse = coordinate_to_sparse(product_features.collect())

In [43]:
pf = np.array(pf_sparse.todense())

In [44]:
def array_norm(a):
    return ((a**2).dot(np.ones((a.shape[1], 1))))**0.5

In [45]:
pf.shape

(1682, 10)

In [46]:
from sklearn.preprocessing import normalize
pf_norm = normalize(pf, axis=1)

In [47]:
pf_norm = pf/((pf**2).dot(np.ones((pf_sparse.shape[1], 1))))**0.5

In [48]:
array_norm(pf_norm)

array([[ 1.],
       [ 1.],
       [ 1.],
       ...,
       [ 1.],
       [ 1.],
       [ 1.]])

In [49]:
pp_sim = np.dot(pf_norm, pf_norm.T)

In [50]:
pp_sim, movie_index_to_ID, movies

(array([[ 1.        ,  0.91312586,  0.38234589, ...,  0.60753014,
          0.86640718,  0.7694975 ],
        [ 0.91312586,  1.        ,  0.46959098, ...,  0.4061653 ,
          0.65946043,  0.62129672],
        [ 0.38234589,  0.46959098,  1.        , ...,  0.4069768 ,
          0.34864356,  0.55575903],
        ...,
        [ 0.60753014,  0.4061653 ,  0.4069768 , ...,  1.        ,
          0.60386915,  0.81192854],
        [ 0.86640718,  0.65946043,  0.34864356, ...,  0.60386915,
          1.        ,  0.73170757],
        [ 0.7694975 ,  0.62129672,  0.55575903, ...,  0.81192854,
          0.73170757,  1.        ]]),
 {0: 1,
  1: 2,
  2: 3,
  3: 4,
  4: 5,
  5: 6,
  6: 7,
  7: 8,
  8: 9,
  9: 10,
  10: 11,
  11: 12,
  12: 13,
  13: 14,
  14: 15,
  15: 16,
  16: 17,
  17: 18,
  18: 19,
  19: 20,
  20: 21,
  21: 22,
  22: 23,
  23: 24,
  24: 25,
  25: 26,
  26: 27,
  27: 28,
  28: 29,
  29: 30,
  30: 31,
  31: 32,
  32: 33,
  33: 34,
  34: 35,
  35: 36,
  36: 37,
  37: 38,
  38: 39,
  39: 40,
  40: 41,
  41: 42,
  42: 43,
  43: 44,
  44: 45,
  45: 46,
  46: 47,
  47: 48,
  48: 49,
  49: 50,
  50: 51,
  51: 52,
  52: 53,
  53: 54,
  54: 55,
  55: 56,
  56: 57,
  57: 58,
  58: 59,
  59: 60,
  60: 61,
  61: 62,
  62: 63,
  63: 64,
  64: 65,
  65: 66,
  66: 67,
  67: 68,
  68: 69,
  69: 70,
  70: 71,
  71: 72,
  72: 73,
  73: 74,
  74: 75,
  75: 76,
  76: 77,
  77: 78,
  78: 79,
  79: 80,
  80: 81,
  81: 82,
  82: 83,
  83: 84,
  84: 85,
  85: 86,
  86: 87,
  87: 88,
  88: 89,
  89: 90,
  90: 91,
  91: 92,
  92: 93,
  93: 94,
  94: 95,
  95: 96,
  96: 97,
  97: 98,
  98: 99,
  99: 100,
  100: 101,
  101: 102,
  102: 103,
  103: 104,
  104: 105,
  105: 106,
  106: 107,
  107: 108,
  108: 109,
  109: 110,
  110: 111,
  111: 112,
  112: 113,
  113: 114,
  114: 115,
  115: 116,
  116: 117,
  117: 118,
  118: 119,
  119: 120,
  120: 121,
  121: 122,
  122: 123,
  123: 124,
  124: 125,
  125: 126,
  126: 127,
  127: 128,
  128: 129,
  129: 130,
  130: 131,
  131: 132,
  132: 133,
  133: 134,
  134: 135,
  135: 136,
  136: 137,
  137: 138,
  138: 139,
  139: 140,
  140: 141,
  141: 142,
  142: 143,
  143: 144,
  144: 145,
  145: 146,
  146: 147,
  147: 148,
  148: 149,
  149: 150,
  150: 151,
  151: 152,
  152: 153,
  153: 154,
  154: 155,
  155: 156,
  156: 157,
  157: 158,
  158: 159,
  159: 160,
  160: 161,
  161: 162,
  162: 163,
  163: 164,
  164: 165,
  165: 166,
  166: 167,
  167: 168,
  168: 169,
  169: 170,
  170: 171,
  171: 172,
  172: 173,
  173: 174,
  174: 175,
  175: 176,
  176: 177,
  177: 178,
  178: 179,
  179: 180,
  180: 181,
  181: 182,
  182: 183,
  183: 184,
  184: 185,
  185: 186,
  186: 187,
  187: 188,
  188: 189,
  189: 190,
  190: 191,
  191: 192,
  192: 193,
  193: 194,
  194: 195,
  195: 196,
  196: 197,
  197: 198,
  198: 199,
  199: 200,
  200: 201,
  201: 202,
  202: 203,
  203: 204,
  204: 205,
  205: 206,
  206: 207,
  207: 208,
  208: 209,
  209: 210,
  210: 211,
  211: 212,
  212: 213,
  213: 214,
  214: 215,
  215: 216,
  216: 217,
  217: 218,
  218: 219,
  219: 220,
  220: 221,
  221: 222,
  222: 223,
  223: 224,
  224: 225,
  225: 226,
  226: 227,
  227: 228,
  228: 229,
  229: 230,
  230: 231,
  231: 232,
  232: 233,
  233: 234,
  234: 235,
  235: 236,
  236: 237,
  237: 238,
  238: 239,
  239: 240,
  240: 241,
  241: 242,
  242: 243,
  243: 244,
  244: 245,
  245: 246,
  246: 247,
  247: 248,
  248: 249,
  249: 250,
  250: 251,
  251: 252,
  252: 253,
  253: 254,
  254: 255,
  255: 256,
  256: 257,
  257: 258,
  258: 259,
  259: 260,
  260: 261,
  261: 262,
  262: 263,
  263: 264,
  264: 265,
  265: 266,
  266: 267,
  267: 268,
  268: 269,
  269: 270,
  270: 271,
  271: 272,
  272: 273,
  273: 274,
  274: 275,
  275: 276,
  276: 277,
  277: 278,
  278: 279,
  279: 280,
  280: 281,
  281: 282,
  282: 283,
  283: 284,
  284: 285,
  285: 286,
  286: 287,
  287: 288,
  288: 289,
  289: 290,
  290: 291,
  291: 292,
  292: 293,
  293: 294,
  294: 295,
  295: 296,
  296: 297,
  297: 298,
  298: 299,
  299: 300,
  300: 301,
  301: 302,
  302: 303,
  303: 304,
  304: 305,
  305: 306,
  306: 307,
  307: 308,
  308: 309,
  309: 310,
  310: 311,
  311: 312,
  312: 313,
  313: 314,
  314: 315,
  315: 316,
  316: 317,
  317: 318,
  318: 319,
  319: 320,
  320: 321,
  321: 322,
  322: 323,
  323: 324,
  324: 325,
  325: 326,
  326: 327,
  327: 328,
  328: 329,
  329: 330,
  330: 331,
  331: 332,
  332: 333,
  333: 334,
  334: 335,
  335: 336,
  336: 337,
  337: 338,
  338: 339,
  339: 340,
  340: 341,
  341: 342,
  342: 343,
  343: 344,
  344: 345,
  345: 346,
  346: 347,
  347: 348,
  348: 349,
  349: 350,
  350: 351,
  351: 352,
  352: 353,
  353: 354,
  354: 355,
  355: 356,
  356: 357,
  357: 358,
  358: 359,
  359: 360,
  360: 361,
  361: 362,
  362: 363,
  363: 364,
  364: 365,
  365: 366,
  366: 367,
  367: 368,
  368: 369,
  369: 370,
  370: 371,
  371: 372,
  372: 373,
  373: 374,
  374: 375,
  375: 376,
  376: 377,
  377: 378,
  378: 379,
  379: 380,
  380: 381,
  381: 382,
  382: 383,
  383: 384,
  384: 385,
  385: 386,
  386: 387,
  387: 388,
  388: 389,
  389: 390,
  390: 391,
  391: 392,
  392: 393,
  393: 394,
  394: 395,
  395: 396,
  396: 397,
  397: 398,
  398: 399,
  399: 400,
  400: 401,
  401: 402,
  402: 403,
  403: 404,
  404: 405,
  405: 406,
  406: 407,
  407: 408,
  408: 409,
  409: 410,
  410: 411,
  411: 412,
  412: 413,
  413: 414,
  414: 415,
  415: 416,
  416: 417,
  417: 418,
  418: 419,
  419: 420,
  420: 421,
  421: 422,
  422: 423,
  423: 424,
  424: 425,
  425: 426,
  426: 427,
  427: 428,
  428: 429,
  429: 430,
  430: 431,
  431: 432,
  432: 433,
  433: 434,
  434: 435,
  435: 436,
  436: 437,
  437: 438,
  438: 439,
  439: 440,
  440: 441,
  441: 442,
  442: 443,
  443: 444,
  444: 445,
  445: 446,
  446: 447,
  447: 448,
  448: 449,
  449: 450,
  450: 451,
  451: 452,
  452: 453,
  453: 454,
  454: 455,
  455: 456,
  456: 457,
  457: 458,
  458: 459,
  459: 460,
  460: 461,
  461: 462,
  462: 463,
  463: 464,
  464: 465,
  465: 466,
  466: 467,
  467: 468,
  468: 469,
  469: 470,
  470: 471,
  471: 472,
  472: 473,
  473: 474,
  474: 475,
  475: 476,
  476: 477,
  477: 478,
  478: 479,
  479: 480,
  480: 481,
  481: 482,
  482: 483,
  483: 484,
  484: 485,
  485: 486,
  486: 487,
  487: 488,
  488: 489,
  489: 490,
  490: 491,
  491: 492,
  492: 493,
  493: 494,
  494: 495,
  495: 496,
  496: 497,
  497: 498,
  498: 499,
  499: 500,
  500: 501,
  501: 502,
  502: 503,
  503: 504,
  504: 505,
  505: 506,
  506: 507,
  507: 508,
  508: 509,
  509: 510,
  510: 511,
  511: 512,
  512: 513,
  513: 514,
  514: 515,
  515: 516,
  516: 517,
  517: 518,
  518: 519,
  519: 520,
  520: 521,
  521: 522,
  522: 523,
  523: 524,
  524: 525,
  525: 526,
  526: 527,
  527: 528,
  528: 529,
  529: 530,
  530: 531,
  531: 532,
  532: 533,
  533: 534,
  534: 535,
  535: 536,
  536: 537,
  537: 538,
  538: 539,
  539: 540,
  540: 541,
  541: 542,
  542: 543,
  543: 544,
  544: 545,
  545: 546,
  546: 547,
  547: 548,
  548: 549,
  549: 550,
  550: 551,
  551: 552,
  552: 553,
  553: 554,
  554: 555,
  555: 556,
  556: 557,
  557: 558,
  558: 559,
  559: 560,
  560: 561,
  561: 562,
  562: 563,
  563: 564,
  564: 565,
  565: 566,
  566: 567,
  567: 568,
  568: 569,
  569: 570,
  570: 571,
  571: 572,
  572: 573,
  573: 574,
  574: 575,
  575: 576,
  576: 577,
  577: 578,
  578: 579,
  579: 580,
  580: 581,
  581: 582,
  582: 583,
  583: 584,
  584: 585,
  585: 586,
  586: 587,
  587: 588,
  588: 589,
  589: 590,
  590: 591,
  591: 592,
  592: 593,
  593: 594,
  594: 595,
  595: 596,
  596: 597,
  597: 598,
  598: 599,
  599: 600,
  600: 601,
  601: 602,
  602: 603,
  603: 604,
  604: 605,
  605: 606,
  606: 607,
  607: 608,
  608: 609,
  609: 610,
  610: 611,
  611: 612,
  612: 613,
  613: 614,
  614: 615,
  615: 616,
  616: 617,
  617: 618,
  618: 619,
  619: 620,
  620: 621,
  621: 622,
  622: 623,
  623: 624,
  624: 625,
  625: 626,
  626: 627,
  627: 628,
  628: 629,
  629: 630,
  630: 631,
  631: 632,
  632: 633,
  633: 634,
  634: 635,
  635: 636,
  636: 637,
  637: 638,
  638: 639,
  639: 640,
  640: 641,
  641: 642,
  642: 643,
  643: 644,
  644: 645,
  645: 646,
  646: 647,
  647: 648,
  648: 649,
  649: 650,
  650: 651,
  651: 652,
  652: 653,
  653: 654,
  654: 655,
  655: 656,
  656: 657,
  657: 658,
  658: 659,
  659: 660,
  660: 661,
  661: 662,
  662: 663,
  663: 664,
  664: 665,
  665: 666,
  666: 667,
  667: 668,
  668: 669,
  669: 670,
  670: 671,
  671: 672,
  672: 673,
  673: 674,
  674: 675,
  675: 676,
  676: 677,
  677: 678,
  678: 679,
  679: 680,
  680: 681,
  681: 682,
  682: 683,
  683: 684,
  684: 685,
  685: 686,
  686: 687,
  687: 688,
  688: 689,
  689: 690,
  690: 691,
  691: 692,
  692: 693,
  693: 694,
  694: 695,
  695: 696,
  696: 697,
  697: 698,
  698: 699,
  699: 700,
  700: 701,
  701: 702,
  702: 703,
  703: 704,
  704: 705,
  705: 706,
  706: 707,
  707: 708,
  708: 709,
  709: 710,
  710: 711,
  711: 712,
  712: 713,
  713: 714,
  714: 715,
  715: 716,
  716: 717,
  717: 718,
  718: 719,
  719: 720,
  720: 721,
  721: 722,
  722: 723,
  723: 724,
  724: 725,
  725: 726,
  726: 727,
  727: 728,
  728: 729,
  729: 730,
  730: 731,
  731: 732,
  732: 733,
  733: 734,
  734: 735,
  735: 736,
  736: 737,
  737: 738,
  738: 739,
  739: 740,
  740: 741,
  741: 742,
  742: 743,
  743: 744,
  744: 745,
  745: 746,
  746: 747,
  747: 748,
  748: 749,
  749: 750,
  750: 751,
  751: 752,
  752: 753,
  753: 754,
  754: 755,
  755: 756,
  756: 757,
  757: 758,
  758: 759,
  759: 760,
  760: 761,
  761: 762,
  762: 763,
  763: 764,
  764: 765,
  765: 766,
  766: 767,
  767: 768,
  768: 769,
  769: 770,
  770: 771,
  771: 772,
  772: 773,
  773: 774,
  774: 775,
  775: 776,
  776: 777,
  777: 778,
  778: 779,
  779: 780,
  780: 781,
  781: 782,
  782: 783,
  783: 784,
  784: 785,
  785: 786,
  786: 787,
  787: 788,
  788: 789,
  789: 790,
  790: 791,
  791: 792,
  792: 793,
  793: 794,
  794: 795,
  795: 796,
  796: 797,
  797: 798,
  798: 799,
  799: 800,
  800: 801,
  801: 802,
  802: 803,
  803: 804,
  804: 805,
  805: 806,
  806: 807,
  807: 808,
  808: 809,
  809: 810,
  810: 811,
  811: 812,
  812: 813,
  813: 814,
  814: 815,
  815: 816,
  816: 817,
  817: 818,
  818: 819,
  819: 820,
  820: 821,
  821: 822,
  822: 823,
  823: 824,
  824: 825,
  825: 826,
  826: 827,
  827: 828,
  828: 829,
  829: 830,
  830: 831,
  831: 832,
  832: 833,
  833: 834,
  834: 835,
  835: 836,
  836: 837,
  837: 838,
  838: 839,
  839: 840,
  840: 841,
  841: 842,
  842: 843,
  843: 844,
  844: 845,
  845: 846,
  846: 847,
  847: 848,
  848: 849,
  849: 850,
  850: 851,
  851: 852,
  852: 853,
  853: 854,
  854: 855,
  855: 856,
  856: 857,
  857: 858,
  858: 859,
  859: 860,
  860: 861,
  861: 862,
  862: 863,
  863: 864,
  864: 865,
  865: 866,
  866: 867,
  867: 868,
  868: 869,
  869: 870,
  870: 871,
  871: 872,
  872: 873,
  873: 874,
  874: 875,
  875: 876,
  876: 877,
  877: 878,
  878: 879,
  879: 880,
  880: 881,
  881: 882,
  882: 883,
  883: 884,
  884: 885,
  885: 886,
  886: 887,
  887: 888,
  888: 889,
  889: 890,
  890: 891,
  891: 892,
  892: 893,
  893: 894,
  894: 895,
  895: 896,
  896: 897,
  897: 898,
  898: 899,
  899: 900,
  900: 901,
  901: 902,
  902: 903,
  903: 904,
  904: 905,
  905: 906,
  906: 907,
  907: 908,
  908: 909,
  909: 910,
  910: 911,
  911: 912,
  912: 913,
  913: 914,
  914: 915,
  915: 916,
  916: 917,
  917: 918,
  918: 919,
  919: 920,
  920: 921,
  921: 922,
  922: 923,
  923: 924,
  924: 925,
  925: 926,
  926: 927,
  927: 928,
  928: 929,
  929: 930,
  930: 931,
  931: 932,
  932: 933,
  933: 934,
  934: 935,
  935: 936,
  936: 937,
  937: 938,
  938: 939,
  939: 940,
  940: 941,
  941: 942,
  942: 943,
  943: 944,
  944: 945,
  945: 946,
  946: 947,
  947: 948,
  948: 949,
  949: 950,
  950: 951,
  951: 952,
  952: 953,
  953: 954,
  954: 955,
  955: 956,
  956: 957,
  957: 958,
  958: 959,
  959: 960,
  960: 961,
  961: 962,
  962: 963,
  963: 964,
  964: 965,
  965: 966,
  966: 967,
  967: 968,
  968: 969,
  969: 970,
  970: 971,
  971: 972,
  972: 973,
  973: 974,
  974: 975,
  975: 976,
  976: 977,
  977: 978,
  978: 979,
  979: 980,
  980: 981,
  981: 982,
  982: 983,
  983: 984,
  984: 985,
  985: 986,
  986: 987,
  987: 988,
  988: 989,
  989: 990,
  990: 991,
  991: 992,
  992: 993,
  993: 994,
  994: 995,
  995: 996,
  996: 997,
  997: 998,
  998: 999,
  999: 1000,
  ...},
       MovieID                                        movie-title release-date  \
 0           1                                   Toy Story (1995)  01-Jan-1995
 1           2                                   GoldenEye (1995)  01-Jan-1995
 2           3                                  Four Rooms (1995)  01-Jan-1995
 3           4                                  Get Shorty (1995)  01-Jan-1995
 4           5                                     Copycat (1995)  01-Jan-1995
 5           6  Shanghai Triad (Yao a yao yao dao waipo qiao) ...  01-Jan-1995
 6           7                              Twelve Monkeys (1995)  01-Jan-1995
 7           8                                        Babe (1995)  01-Jan-1995
 8           9                            Dead Man Walking (1995)  01-Jan-1995
 9          10                                 Richard III (1995)  22-Jan-1996
 10         11                               Seven (Se7en) (1995)  01-Jan-1995
 11         12                         Usual Suspects, The (1995)  14-Aug-1995
 12         13                            Mighty Aphrodite (1995)  30-Oct-1995
 13         14                                 Postino, Il (1994)  01-Jan-1994
 14         15                          Mr. Holland's Opus (1995)  29-Jan-1996
 15         16                 French Twist (Gazon maudit) (1995)  01-Jan-1995
 16         17                         From Dusk Till Dawn (1996)  05-Feb-1996
 17         18                          White Balloon, The (1995)  01-Jan-1995
 18         19                              Antonia's Line (1995)  01-Jan-1995
 19         20                          Angels and Insects (1995)  01-Jan-1995
 20         21                      Muppet Treasure Island (1996)  16-Feb-1996
 21         22                                  Braveheart (1995)  16-Feb-1996
 22         23                                 Taxi Driver (1976)  16-Feb-1996
 23         24                         Rumble in the Bronx (1995)  23-Feb-1996
 24         25                               Birdcage, The (1996)  08-Mar-1996
 25         26                      Brothers McMullen, The (1995)  01-Jan-1995
 26         27                                    Bad Boys (1995)  01-Jan-1995
 27         28                                   Apollo 13 (1995)  01-Jan-1995
 28         29                              Batman Forever (1995)  01-Jan-1995
 29         30                               Belle de jour (1967)  01-Jan-1967
 ...       ...                                                ...          ...
 1652     1653  Entertaining Angels: The Dorothy Day Story (1996)  27-Sep-1996
 1653     1654                       Chairman of the Board (1998)  01-Jan-1998
 1654     1655                                  Favor, The (1994)  01-Jan-1994
 1655     1656                                 Little City (1998)  20-Feb-1998
 1656     1657                                      Target (1995)  28-Feb-1996
 1657     1658                      Substance of Fire, The (1996)  06-Dec-1996
 1658     1659                    Getting Away With Murder (1996)  12-Apr-1996
 1659     1660                                 Small Faces (1995)  09-Aug-1996
 1660     1661                                New Age, The (1994)  01-Jan-1994
 1661     1662                                 Rough Magic (1995)  30-May-1997
 1662     1663                            Nothing Personal (1995)  30-Apr-1997
 1663     1664                     8 Heads in a Duffel Bag (1997)  18-Apr-1997
 1664     1665                           Brother's Kiss, A (1997)  25-Apr-1997
 1665     1666                                        Ripe (1996)  02-May-1997
 1666     1667                              Next Step, The (1995)  13-Jun-1997
 1667     1668                          Wedding Bell Blues (1996)  13-Jun-1997
 1668     1669                           MURDER and murder (1996)  20-Jun-1997
 1669     1670                                     Tainted (1998)  01-Feb-1998
 1670     1671                          Further Gesture, A (1996)  20-Feb-1998
 1671     1672                                        Kika (1993)  01-Jan-1993
 1672     1673                                      Mirage (1995)  01-Jan-1995
 1673     1674                                  Mamma Roma (1962)  01-Jan-1962
 1674     1675                              Sunchaser, The (1996)  25-Oct-1996
 1675     1676                            War at Home, The (1996)  01-Jan-1996
 1676     1677                               Sweet Nothing (1995)  20-Sep-1996
 1677     1678                                  Mat' i syn (1997)  06-Feb-1998
 1678     1679                                   B. Monkey (1998)  06-Feb-1998
 1679     1680                               Sliding Doors (1998)  01-Jan-1998
 1680     1681                                You So Crazy (1994)  01-Jan-1994
 1681     1682          Scream of Stone (Schrei aus Stein) (1991)  08-Mar-1996

       video-release-date                                           IMDb-URL  \
 0                    NaN  http://us.imdb.com/M/title-exact?Toy%20Story%2...
 1                    NaN  http://us.imdb.com/M/title-exact?GoldenEye%20(...
 2                    NaN  http://us.imdb.com/M/title-exact?Four%20Rooms%...
 3                    NaN  http://us.imdb.com/M/title-exact?Get%20Shorty%...
 4                    NaN  http://us.imdb.com/M/title-exact?Copycat%20(1995)
 5                    NaN  http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...
 6                    NaN  http://us.imdb.com/M/title-exact?Twelve%20Monk...
 7                    NaN     http://us.imdb.com/M/title-exact?Babe%20(1995)
 8                    NaN  http://us.imdb.com/M/title-exact?Dead%20Man%20...
 9                    NaN  http://us.imdb.com/M/title-exact?Richard%20III...
 10                   NaN    http://us.imdb.com/M/title-exact?Se7en%20(1995)
 11                   NaN  http://us.imdb.com/M/title-exact?Usual%20Suspe...
 12                   NaN  http://us.imdb.com/M/title-exact?Mighty%20Aphr...
 13                   NaN  http://us.imdb.com/M/title-exact?Postino,%20Il...
 14                   NaN  http://us.imdb.com/M/title-exact?Mr.%20Holland...
 15                   NaN  http://us.imdb.com/M/title-exact?Gazon%20maudi...
 16                   NaN  http://us.imdb.com/M/title-exact?From%20Dusk%2...
 17                   NaN  http://us.imdb.com/M/title-exact?Badkonake%20S...
 18                   NaN  http://us.imdb.com/M/title-exact?Antonia%20(1995)
 19                   NaN  http://us.imdb.com/M/title-exact?Angels%20and%...
 20                   NaN  http://us.imdb.com/M/title-exact?Muppet%20Trea...
 21                   NaN  http://us.imdb.com/M/title-exact?Braveheart%20...
 22                   NaN  http://us.imdb.com/M/title-exact?Taxi%20Driver...
 23                   NaN  http://us.imdb.com/M/title-exact?Hong%20Faan%2...
 24                   NaN  http://us.imdb.com/M/title-exact?Birdcage,%20T...
 25                   NaN  http://us.imdb.com/M/title-exact?Brothers%20Mc...
 26                   NaN  http://us.imdb.com/M/title-exact?Bad%20Boys%20...
 27                   NaN  http://us.imdb.com/M/title-exact?Apollo%2013%2...
 28                   NaN  http://us.imdb.com/M/title-exact?Batman%20Fore...
 29                   NaN  http://us.imdb.com/M/title-exact?Belle%20de%20...
 ...                  ...                                                ...
 1652                 NaN  http://us.imdb.com/M/title-exact?Entertaining%...
 1653                 NaN  http://us.imdb.com/Title?Chairman+of+the+Board...

In [51]:
np.save('movie_index_to_ID', movie_index_to_ID)

In [57]:
movies.to_pickle('movies_df.pkl')

In [62]:
def save_obj(obj, name ):
    with open(name + '.pkl', 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

In [63]:
save_obj(movie_index_to_ID, 'movie_index_to_ID')

In [58]:
!cp movies_df.pkl web/django_proj/data/

In [118]:
np.argsort(pp_sim[0, :])

array([1335, 1597,  986, ...,  203,   94,    0])

In [43]:
recom_movie_index = np.argsort(pp_sim[0, :])[::-1][:10]

In [44]:
recom_movie_index

array([  0,  94, 193, 209, 417,  27,  70, 658,  63,  98])

In [150]:
recom_movie_index

array([  0,  94, 203, 209, 676, 598, 710, 193, 434, 658])

In [45]:
movies[(movies.Horror == 1) & (movies['Sci-Fi'] == 1)].head()

,MovieID,movie-title,release-date,video-release-date,IMDb-URL,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
83,84,Robert A. Heinlein's The Puppet Masters (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Robert%20A.%2...,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
100,101,Heavy Metal (1981),08-Mar-1981,NaN,http://us.imdb.com/M/title-exact?Heavy%20Metal...,0,1,1,1,0,...,0,0,1,0,0,0,1,0,0,0
182,183,Alien (1979),01-Jan-1979,NaN,http://us.imdb.com/M/title-exact?Alien%20(1979),0,1,0,0,0,...,0,0,1,0,0,0,1,1,0,0
183,184,Army of Darkness (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Army%20of%20D...,0,1,1,0,0,...,0,0,1,0,0,0,1,0,0,0
342,343,Alien: Resurrection (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Alien%3A+Resu...,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0

In [46]:
pp_sim[182, 0]

0.80193257728903866

In [97]:
movies.loc[0, 'IMDb-URL']

'http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)'

In [47]:
movies.head()

,MovieID,movie-title,release-date,video-release-date,IMDb-URL,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [48]:
[movies[movies.MovieID == movie_index_to_ID[i]]['movie-title'].tolist()[0] for i in recom_movie_index]

['Toy Story (1995)',
 'Aladdin (1992)',
 'Sting, The (1973)',
 'Indiana Jones and the Last Crusade (1989)',
 'Cinderella (1950)',
 'Apollo 13 (1995)',
 'Lion King, The (1994)',
 'Arsenic and Old Lace (1944)',
 'Shawshank Redemption, The (1994)',
 'Snow White and the Seven Dwarfs (1937)']

In [152]:
recom_movie_index

array([  0,  94, 203, 209, 676, 598, 710, 193, 434, 658])

In [231]:
recom_movie_index

array([1642, 1462, 1119, 1153, 1285])

In [42]:
#help(pd.DataFrame({'MovieID':[movie_index_to_ID[i] for i in recom_movie_index]}).join)

In [43]:
(pd.DataFrame({'MovieID':[movie_index_to_ID[i] for i in recom_movie_index]})).join

<bound method DataFrame.join of    MovieID
0      718
1      361
2     1643
3     1375
4     1218>

In [50]:
pd.merge(pd.DataFrame({'MovieID':[movie_index_to_ID[i] for i in recom_movie_index]}), movies, how='inner', on='MovieID', suffixes=('_x', '_y'))

,MovieID,movie-title,release-date,video-release-date,IMDb-URL,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,95,Aladdin (1992),01-Jan-1992,NaN,http://us.imdb.com/M/title-exact?Aladdin%20(1992),0,0,0,1,1,...,0,0,0,1,0,0,0,0,0,0
2,194,"Sting, The (1973)",01-Jan-1973,NaN,"http://us.imdb.com/M/title-exact?Sting,%20The%...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,210,Indiana Jones and the Last Crusade (1989),01-Jan-1989,NaN,http://us.imdb.com/M/title-exact?Indiana%20Jon...,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,418,Cinderella (1950),01-Jan-1950,NaN,http://us.imdb.com/M/title-exact?Cinderella%20...,0,0,0,1,1,...,0,0,0,1,0,0,0,0,0,0
5,28,Apollo 13 (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Apollo%2013%2...,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,71,"Lion King, The (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Lion%20King,%...",0,0,0,1,1,...,0,0,0,1,0,0,0,0,0,0
7,659,Arsenic and Old Lace (1944),01-Jan-1944,NaN,http://us.imdb.com/M/title-exact?Arsenic%20and...,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
8,64,"Shawshank Redemption, The (1994)",01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Shawshank%20R...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,99,Snow White and the Seven Dwarfs (1937),01-Jan-1937,NaN,http://us.imdb.com/M/title-exact?Snow%20White%...,0,0,0,1,1,...,0,0,0,1,0,0,0,0,0,0

In [46]:
pd.DataFrame({'MovieID':[movie_index_to_ID[i] for i in recom_movie_index]}).join

<bound method DataFrame.join of    MovieID
0      718
1      361
2     1643
3     1375
4     1218>

In [154]:
[movies['movie-title'].loc[movie_index_to_ID[i]] for i in recom_movie_index]

['GoldenEye (1995)',
 'Terminator 2: Judgment Day (1991)',
 'Patton (1970)',
 'M*A*S*H (1970)',
 'Volcano (1997)',
 "Daniel Defoe's Robinson Crusoe (1996)",
 'Tin Men (1987)',
 'Terminator, The (1984)',
 'American Werewolf in London, An (1981)',
 'Fried Green Tomatoes (1991)']

In [156]:
movies.loc[recom_movie_index]

,MovieID,movie-title,release-date,video-release-date,IMDb-URL,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
94,95,Aladdin (1992),01-Jan-1992,NaN,http://us.imdb.com/M/title-exact?Aladdin%20(1992),0,0,0,1,1,...,0,0,0,1,0,0,0,0,0,0
203,204,Back to the Future (1985),01-Jan-1985,NaN,http://us.imdb.com/M/title-exact?Back%20to%20t...,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
209,210,Indiana Jones and the Last Crusade (1989),01-Jan-1989,NaN,http://us.imdb.com/M/title-exact?Indiana%20Jon...,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
676,677,Fire on the Mountain (1996),24-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Fire%20on%20t...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
598,599,Police Story 4: Project S (Chao ji ji hua) (1993),16-Aug-1996,NaN,http://us.imdb.com/M/title-exact?Project%20S%2...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
710,711,"Substance of Fire, The (1996)",06-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Substance%20o...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
193,194,"Sting, The (1973)",01-Jan-1973,NaN,"http://us.imdb.com/M/title-exact?Sting,%20The%...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
434,435,Butch Cassidy and the Sundance Kid (1969),01-Jan-1969,NaN,http://us.imdb.com/M/title-exact?Butch%20Cassi...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
658,659,Arsenic and Old Lace (1944),01-Jan-1944,NaN,http://us.imdb.com/M/title-exact?Arsenic%20and...,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [51]:
np.save('pp_sim', pp_sim)

In [52]:
!ls -lh pp_sim.npy

-rw-r--r-- 1 amir amir 22M Jun 20 22:57 pp_sim.npy

In [53]:
np.load('pp_sim.npy')

array([[ 1.        ,  0.85107265,  0.54099519, ...,  0.49139953,
         0.88329808,  0.76449662],
       [ 0.85107265,  1.        ,  0.53455897, ...,  0.54254158,
         0.72213454,  0.6871966 ],
       [ 0.54099519,  0.53455897,  1.        , ...,  0.83634423,
         0.40177111,  0.65079745],
       ...,
       [ 0.49139953,  0.54254158,  0.83634423, ...,  1.        ,
         0.38850745,  0.71621046],
       [ 0.88329808,  0.72213454,  0.40177111, ...,  0.38850745,
         1.        ,  0.73907372],
       [ 0.76449662,  0.6871966 ,  0.65079745, ...,  0.71621046,
         0.73907372,  1.        ]])

In [190]:
def get_movie_image(url):
    return Image(url=get_poster(url, base_url, api_key))

In [59]:
get_poster(movie_list[1], base_url, api_key)

u'http://image.tmdb.org/t/p/w185/1oqfg2IBGNFAFylDK56NXo558y2.jpg'

In [276]:
s = ''
for url in movie_list:
    s += '<img src="%s" >' % get_poster_imdb(url)

In [277]:
s

'<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_SY500_SX335_AL_.jpg" ><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNTI4ODQ1MzAzNV5BMl5BanBnXkFtZTgwMzU4NzMxMDE@._V1_SY250_CR0,0,187,250_AL_.jpg" ><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BZmU0M2Y1OGUtZjIxNi00ZjBkLTg1MjgtOWIyNThiZWIwYjRiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SY500_CR0,0,321,500_AL_.jpg" ><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjNkMzc2N2QtNjVlNS00ZTk5LTg0MTgtODY2MDAwNTMwZjBjXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_SY500_CR0,0,339,500_AL_.jpg" ><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTI1OTk5MjQyM15BMl5BanBnXkFtZTcwOTM5NzEyMQ@@._V1_SX165_CR0,0,165,237_AL_.jpg" ><img src="" ><img src="" ><img src="" ><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTkyMTM2NDk5Nl5BMl5BanBnXkFtZTgwNzY1NzEyMDE@._V1_SY500_CR0,0,337,500_AL_.jpg" ><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BZDVlNTBjMjctNjAzNS00ZGJhLTg2NzMtNzIwYTIzYTBiMDkyXkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SY500_CR0,0,332,500_AL_.jpg" >'

In [160]:
s

u'<img src="http://image.tmdb.org/t/p/w185/uMZqKhT4YA6mqo2yczoznv7IDmv.jpg" ><img src="http://image.tmdb.org/t/p/w185/qsHpmqekgeQKMKL8PWnFsrXTXGs.jpg" ><img src="http://image.tmdb.org/t/p/w185/pTpxQB1N0waaSc3OSn0e9oc8kx9.jpg" ><img src="http://image.tmdb.org/t/p/w185/g8qWglC2XXCIN8P51eCljFvCNNJ.jpg" ><img src="" ><img src="http://image.tmdb.org/t/p/w185/7pgS6qYWtSiJpEJW3YQJqD6EVRG.jpg" ><img src="http://image.tmdb.org/t/p/w185/uXMTgqPIJwLnzcDdIvvD5OUqX8x.jpg" ><img src="http://image.tmdb.org/t/p/w185/mQaM8fDQdFWwCTFp0TZG8fChlZ5.jpg" ><img src="http://image.tmdb.org/t/p/w185/jQH0mTzQ1gQ56H8a0z52WreiEok.jpg" ><img src="http://image.tmdb.org/t/p/w185/jfNhx7ATKNvblvbb7wsfm4YpPaR.jpg" >'

<img src="http://image.tmdb.org/t/p/w185/uMZqKhT4YA6mqo2yczoznv7IDmv.jpg" ><img src="http://image.tmdb.org/t/p/w185/qsHpmqekgeQKMKL8PWnFsrXTXGs.jpg" ><img src="http://image.tmdb.org/t/p/w185/pTpxQB1N0waaSc3OSn0e9oc8kx9.jpg" ><img src="http://image.tmdb.org/t/p/w185/g8qWglC2XXCIN8P51eCljFvCNNJ.jpg" ><img src="" ><img src="http://image.tmdb.org/t/p/w185/7pgS6qYWtSiJpEJW3YQJqD6EVRG.jpg" ><img src="http://image.tmdb.org/t/p/w185/uXMTgqPIJwLnzcDdIvvD5OUqX8x.jpg" ><img src="http://image.tmdb.org/t/p/w185/mQaM8fDQdFWwCTFp0TZG8fChlZ5.jpg" ><img src="http://image.tmdb.org/t/p/w185/jQH0mTzQ1gQ56H8a0z52WreiEok.jpg" ><img src="http://image.tmdb.org/t/p/w185/jfNhx7ATKNvblvbb7wsfm4YpPaR.jpg" >'


'<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_SY500_SX335_AL_.jpg" ><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNTI4ODQ1MzAzNV5BMl5BanBnXkFtZTgwMzU4NzMxMDE@._V1_SY250_CR0,0,187,250_AL_.jpg" ><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BZmU0M2Y1OGUtZjIxNi00ZjBkLTg1MjgtOWIyNThiZWIwYjRiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SY500_CR0,0,321,500_AL_.jpg" ><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjNkMzc2N2QtNjVlNS00ZTk5LTg0MTgtODY2MDAwNTMwZjBjXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_SY500_CR0,0,339,500_AL_.jpg" ><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTI1OTk5MjQyM15BMl5BanBnXkFtZTcwOTM5NzEyMQ@@._V1_SX165_CR0,0,165,237_AL_.jpg" ><img src="" ><img src="" ><img src="" ><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTkyMTM2NDk5Nl5BMl5BanBnXkFtZTgwNzY1NzEyMDE@._V1_SY500_CR0,0,337,500_AL_.jpg" ><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BZDVlNTBjMjctNjAzNS00ZGJhLTg2NzMtNzIwYTIzYTBiMDkyXkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SY500_CR0,0,332,500_AL_.jpg" >'

### Get Movie Posters

In [56]:
import requests
resp = requests.get('http://www.imdb.com/title/tt0114709/?ref_=nv_sr_1')
from bs4 import BeautifulSoup
bs = BeautifulSoup(resp.content, "lxml")

In [57]:
url

NameError: name 'url' is not defined

In [58]:
base_url = 'http://www.imdb.com/'
url = base_url + bs.find("div", class_="poster").a['href']
resp = requests.get(url)
bs = BeautifulSoup(resp.content, 'lxml')

In [59]:
#<div class="pswp__zoom-wrap" style="transform: translate3d(727px, 0px, 0px) scale(1);"><img class="pswp__img pswp__img--placeholder" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_SY500_SX335_AL_.jpg" style="width: 594px; height: 887px; display: none;"><img class="pswp__img" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_SY1000_SX670_AL_.jpg" style="display: block; width: 291px; height: 435px;"></div>
image_url = bs.find('meta', itemprop='image')['content']

In [62]:
def get_poster_imdb(url):
    try:
        resp = requests.get(url)
        bs = BeautifulSoup(resp.content, "lxml")
        base_url = 'http://www.imdb.com/'
        url = base_url + bs.find("div", class_="poster").a['href']
        resp = requests.get(url)
        bs = BeautifulSoup(resp.content, 'lxml')
        return bs.find('meta', itemprop='image')['content']
    except:
        return ""

In [63]:
Image(url=image_url)

NameError: name 'Image' is not defined

In [111]:
a = movies.iloc[5, :]['movie-title']
search_url = 'http://www.imdb.com/xml/find?json=1&nr=1&tt=on&q=%s' % urllib.quote_plus(a)
res = requests.get(search_url)

In [112]:
a

'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)'

In [113]:
import urllib
urllib.quote_plus(a)

'Shanghai+Triad+%28Yao+a+yao+yao+dao+waipo+qiao%29+%281995%29'

In [114]:
search_url = 'http://www.imdb.com/xml/find?json=1&nr=1&tt=on&q=%s' % urllib.quote_plus(a)
res = requests.get(search_url)

In [116]:
search_url

'http://www.imdb.com/xml/find?json=1&nr=1&tt=on&q=Shanghai+Triad+%28Yao+a+yao+yao+dao+waipo+qiao%29+%281995%29'

In [102]:
import json
res_json = json.loads(res.content)

In [117]:
res_json.keys()

[u'title_substring', u'title_popular', u'title_exact']

In [106]:
res_json['title_exact'][0]['id']

u'tt2236686'

In [64]:

import requests
import json

response = requests.get('http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)')
print response.url.split('/')[-2]

tt0114709

In [65]:

# Build function to query themoviedb.org's API

# Get base url filepath structure. w185 corresponds to size of movie poster.
api_key = '2554c0fd4b04956e926253a3337c3252'
headers = {'Accept': 'application/json'}
payload = {'api_key': api_key} 
response = requests.get("http://api.themoviedb.org/3/configuration",\
                        params=payload,\
                        headers=headers)
response = json.loads(response.text)
base_url = response['images']['base_url'] + 'w185'

def get_poster(imdb_url, base_url, api_key):
    # Get IMDB movie ID
    response = requests.get(imdb_url)
    movie_id = response.url.split('/')[-2]
    
    # Query themoviedb.org API for movie poster path.
    movie_url = 'http://api.themoviedb.org/3/movie/{:}/images'.format(movie_id)
    headers = {'Accept': 'application/json'}
    payload = {'api_key': api_key} 
    response = requests.get(movie_url, params=payload, headers=headers)
    try:
        file_path = json.loads(response.text)['posters'][0]['file_path']
    except:
        # IMDB movie ID is sometimes no good. Need to get correct one.
        movie_title = imdb_url.split('?')[-1].split('(')[0]
        payload['query'] = movie_title
        response = requests.get('http://api.themoviedb.org/3/search/movie',\
                                params=payload,\
                                headers=headers)
        try:
            movie_id = json.loads(response.text)['results'][0]['id']
            payload.pop('query', None)
            movie_url = 'http://api.themoviedb.org/3/movie/{:}/images'\
                        .format(movie_id)
            response = requests.get(movie_url, params=payload, headers=headers)
            file_path = json.loads(response.text)['posters'][0]['file_path']
        except:
            # Sometimes the url just doesn't work.
            # Return '' so that it does not mess up Image()
            return ''
        
    return base_url + file_path

In [66]:
get_poster(toy_story, base_url, api_key)

NameError: name 'toy_story' is not defined

In [57]:
from IPython.display import Image
from IPython.display import display

toy_story = 'http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)'
Image(url=get_poster(toy_story, base_url, api_key))

<img src="http://image.tmdb.org/t/p/w185/uMZqKhT4YA6mqo2yczoznv7IDmv.jpg">

In [162]:
product_features_T = product_features.map(lambda r: (r[1], r[0], r[2]))
pp_sim_rdd = matrix_multiply(product_features, product_features_T)
pp_sim = pp_sim_rdd.collect()

KeyboardInterrupt:

In [1]:
def matrix_multiply(x, y):
    def left_mapper(r):
        i, j, v = r
        return j, (i, v)
    def right_mapper(r):
        j, k, w = r
        return j, (k, w)
    def product_mapper(r):
        _, ((i, v), (k, w)) = r
        return (i, k), v * w
    
    x = x.map(left_mapper)
    y = y.map(right_mapper)
    
    return x.join(y).map(product_mapper).reduceByKey(lambda x, y: x + y).map(lambda r: r[0][0], r[0][1], r[1])

In [21]:
l = [(0, 0, 3.0), (2, 0, -5.0), (3, 2, 1.0),
   (4, 1, 6.0), (6, 2, 2.0), (8, 1, 4.0)]
row = [i[0] for i in l]
col = [i[1] for i in l]
data = [i[2] for i in l]

row, col, data = np.array(l).T
from scipy.sparse import csr_matrix
m1 = csr_matrix((data, (row, col)))

In [22]:
m1.todense()

matrix([[ 3.,  0.,  0.],
        [ 0.,  0.,  0.],
        [-5.,  0.,  0.],
        [ 0.,  0.,  1.],
        [ 0.,  6.,  0.],
        [ 0.,  0.,  0.],
        [ 0.,  0.,  2.],
        [ 0.,  0.,  0.],
        [ 0.,  4.,  0.]])

In [13]:
m1.T

<3x9 sparse matrix of type '<type 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Column format>

In [20]:
import numpy as np
np.dot(m1.todense(), m1.todense().T)

matrix([[  9.,   0., -15.,   0.,   0.,   0.,   0.,   0.,   0.],
        [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
        [-15.,   0.,  25.,   0.,   0.,   0.,   0.,   0.,   0.],
        [  0.,   0.,   0.,   1.,   0.,   0.,   2.,   0.,   0.],
        [  0.,   0.,   0.,   0.,  36.,   0.,   0.,   0.,  24.],
        [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
        [  0.,   0.,   0.,   2.,   0.,   0.,   4.,   0.,   0.],
        [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
        [  0.,   0.,   0.,   0.,  24.,   0.,   0.,   0.,  16.]])

In [4]:
mat = sc.parallelize([
   (0, 0, 3.0), (2, 0, -5.0), (3, 2, 1.0),
   (4, 1, 6.0), (6, 2, 2.0), (8, 1, 4.0)]
)

In [17]:
mat_t = sc.parallelize([(j, i, v) for i, j, v in l])

In [26]:
matrix_multiply(mat, mat_t).collect()

[((2, 0), -15.0),
 ((6, 3), 2.0),
 ((0, 0), 9.0),
 ((4, 4), 36.0),
 ((8, 8), 16.0),
 ((0, 2), -15.0),
 ((3, 3), 1.0),
 ((4, 8), 24.0),
 ((8, 4), 24.0),
 ((6, 6), 4.0),
 ((2, 2), 25.0),
 ((3, 6), 2.0)]

In [ ]:
number of unique movies: 3883
number of users: 6040

In [68]:
set(x) == set(range(6040))

True

In [69]:
set(y) == set(range(3706))

True

In [66]:
x = [i[0] for i in pf]

In [67]:
y = [i[0] for i in uf]

In [ ]:
pd.DataFrame(x).describe()

In [ ]:
max(sorted(y))

In [ ]:
pd.DataFrame(y).describe()

In [ ]:
plt.plot(sorted(x), '.')
plt.show()

In [ ]:
dir(model)

In [ ]:
np.mean([i[1] for i in p])

In [ ]:
from pyspark.ml.tuning import CrossValidator
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.feature import HashingTF, Tokenizer
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder



lr = LogisticRegression(maxIter=10)

paramGrid = ParamGridBuilder() \
    .addGrid(lr.regParam, np.logspace(-2, 2, 5)) \
    .build()

cnt = 0

class Evaluator:
    def evaluate(self, dataset):
        global cnt
        cnt += 1
        print dataset.count()
        print cnt
        #print dataset['features'].collect()
        #print dataset['label']
        print
        return 1
    
crossval = CrossValidator(estimator=lr,
                          estimatorParamMaps=paramGrid,
                          #evaluator=BinaryClassificationEvaluator(),
                          evaluator=Evaluator(),
                          numFolds=3)  # use 3+ folds in practice

# Run cross-validation, and choose the best set of parameters.
cvModel = crossval.fit(training)

In [ ]:
import os
spark_home = os.environ['SPARK_HOME']
training = spark.read.format("libsvm").load(os.path.join(spark_home, "data/mllib/sample_libsvm_data.txt"))

In [ ]:
training